.hero-section {
  background-image: url("./images/cvr-college.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-section .container {
  position: relative;
  z-index: 1;
}
.nav-link {
  font-weight: 500;
  transition: 0.3s;
}

.nav-link:hover {
  color: #0d6efd !important;
}

.registration-page {
  min-height: 100vh;

  background: linear-gradient(
    -45deg,
    #dbeafe,
    #e0e7ff,
    #dcfce7,
    #fef9c3,
    #fce7f3
  );

  background-size: 400% 400%;
  animation: gradientAnimation 12s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.registration-form {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: white !important;
}

.nav-link {
  font-weight: 500;
}

.nav-link.active {
  color: #0d6efd !important;
  border-bottom: 2px solid #0d6efd;
}

.nav-link:hover {
  color: #0d6efd !important;
}

.card {
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 30px;
}

.profile-page {
  min-height: 100vh;

  background-image: url("./images/cvr-college.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
}

.profile-page::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.profile-card {
  position: relative;
  z-index: 1;

  max-width: 500px;
  margin: 50px auto;
  padding: 30px;

  background: rgba(255, 255, 255, 0.95);
  border-radius: 25px;

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.profile-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #0d6efd;
  margin-bottom: 20px;
  cursor: pointer;
}

.profile-name {
  color: #0d6efd;
  font-weight: 700;
}

.info-box {
  background: #f8f9fa;
  padding: 12px;
  border-radius: 12px;
  margin: 10px 0;
  text-align: left;
}

.profile-card {
  text-align: center;
}

.profile-image {
  display: block;
  margin: 0 auto 20px;
}

.profile-name {
  text-align: center;
  color: #0d6efd;
  font-weight: 700;
  margin-bottom: 25px;
}
