.hero-section {
  background-image: url("./images/cvr-college.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-section .container {
  position: relative;
  z-index: 1;
}